<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SAAD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Agregar Animal</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{//createAnimal}" th:object="${animal}" method="post">

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Tipo Animal</label>
                            <input type="text" th:field="*{tipoanimal}" class="form-control"
                                   id="tipoanimal" placeholder="Tipo Animal" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Color</label>
                            <input th:field="*{color}" class="form-control"
                                   id="color" type="color" placeholder="Color" />
                            <span class="container" id="color_val"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Raza</label>
                            <input type="text" th:field="*{raza}" class="form-control"
                                   id="raza" placeholder="Raza" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Imagen</label>
                            <input type="file" th:field="*{img}" class="form-control"
                                   id="img" placeholder="Img" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for ="name" class="col-form-label">Tipo Pelo</label>
                            <input type="text" th:field="*{tipopelo}" class="form-control"
                                   id="tipopelo" placeholder="Tipo Pelo" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for ="name" class="col-form-label">Fecha Nacimiento</label>
                            <input type="text" th:field="*{fechaNac}" class="form-control"
                                   id="fechaNac" placeholder="Fecha Nacimiento" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Vacunas</label>
                            <input type="checkbox" id="vacunas" checked class="form-control"class="form-control"/>

                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Estado Adopción</label>
                            <input type="checkbox"  id="estadoadopcion" checked class="form-control" class="form-control"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Nombre Dueño</label>
                            <input type="text" th:field="*{nombredueño}" class="form-control"
                                   id="nombredueño" placeholder="Nombre Dueño" />
                        </div>


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                            <button style="padding-right: 20px" class="btn btn-primary" onclick="location.href='http://localhost:9595//list-animal.html'">Ver Registros</button>
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="scripts.js">   </script>

</html>